<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>app.rork.god-first-app-c1nigyo.midnightReblock</string>
		<string>app.rork.god-first-app-c1nigyo.enforcementCheck</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>app.rork.god-first-app-c1nigyo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>putgodfirst</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
